body{
  font-family: 1em/1.65em 'Open Sans',"Arial",sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
} 

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#menu{
  position: absolute;
  top: 30px;
  right: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Style the search field */
form.example input[type=text] {
  padding: 7px;
  font-size: 17px;
  width: 25%;
  position: absolute;
  right: 20%;
  top: 4.5%;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

#button {
  display: inline-block;
  background-color: gray;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-decoration: none;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

section {
  min-height: 100%;
}

.pichead img{
  max-width: 1500px;
  display: inline-block;
  position: relative;
}

.row a p{
  color: black;
  font-size: 25px;
  position: absolute;
  left: 175px;
  text-decoration: none;
}

.row p{
  position: absolute;
  left: 500px;
  font-size: 16px;
}

div .col-sm-3 h4{
  color: black; 
  position: relative; 
  left: 45px;
  font-size: 18px;
}

.row .dec{
  position: relative; 
  left: -15px; 
  color: black;
  text-align: justify;
}

.row a:hover{
  text-decoration: none;
}

h2{
  position: relative;
  left: 180px;
}

.icon{
  position: relative;
  left: 500px;
  max-width: 30px;
}