body{
    font-family: 1em/1.65em 'Open Sans',"Arial",sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  } 
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #menu{
    position: absolute;
    right: 30px;
    top: 30px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Style the search field */
form.example input[type=text] {
    padding: 7px;
    font-size: 17px;
    width: 25%;
    position: absolute;
    right: 20%;
    top: 4.5%;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  #button {
    display: inline-block;
    background-color: gray;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: none;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.pichead img{
  max-width: 1500px;
  display: inline-block;
  position: relative;
}

.row h2{
    position: relative;
    left: 165px;
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.row p{
    text-decoration: none;
    color: black;
}

div .row p{
    position: relative;
    left: 165px;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

span{
  font-weight: bold;
}

div .sug{
  width: 180px;
  position: relative;
  left: 200px;
}

div strong{
  position: relative;
  top: 70px;
  left: 183px;
  font-size: 20px;
}

#title{
  position: relative;
  top: 80px;
  left: 200px;
}

#dec{
  font-size: 12px;
  text-align: justify;
  left: 200px;
}

.col-sm-2 a:hover{
  text-decoration: none;
}