body{
    font-family: 1em/1.65em 'Open Sans',"Arial",sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  } 
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    top: -70px;
  }

  #menu{
    position: absolute;
    right: 30px;
    top: 30px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1200px;
    margin: auto;
}

/* Caption text */
.text a{
  color: white;
  font-size: 18px;
  margin: 38px 14px ;
  position: relative;
  text-decoration: none;
  bottom: 30px;
  right: 20px;
  width: 100%;
  text-align: left;
}

.text a:hover{
    text-decoration: underline;
}

/* Style the search field */
form.example input[type=text] {
    padding: 7px;
    font-size: 17px;
    width: 25%;
    position: absolute;
    left: 38%;
    top: 740px;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#button {
  display: inline-block;
  background-color: gray;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-decoration: none;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} /*slide*/

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}/*slide*/

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.text a:hover{
  text-decoration: none;
}

#map{
  position: absolute;
  right: 30px;
  bottom: -310px;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.footer{
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: white;
}
.inner_footer{
  display: block;
  margin: 0 auto;
  width: 1100px;
}
.inner_footer .logo_container{
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}
.inner_footer .logo_container img{
  width: 300px;
  height: auto;
}
.inner_footer .footer_third{
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
  color: black;
}
.inner_footer .footer_third last-child{
  margin-right: 0;
}
.inner_footer .footer_third h1{
  font-family: 'arial';
  font-size: 22px;
  color: #18181a;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.inner_footer .footer_third a{
  font-family: 'arial';
  font-size: 18px;
  color: #18181a;
  display: block;
  font-weight: 200;
  width: 100%;    
  padding-bottom: 5px; 
}

.inner_footer .footer_third li{
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
}

.inner_footer .footer_third span{
  color: #18181a;
  font-family: 'arial';
  font-size: 16px;
  font-weight: 200;
  display: block;
  width: 100%;
  padding-top: 20px;
}
@media(max-width:800px){
  .footer .inner_footer{
      width: 90%;
  }
  .inner_footer .logo_container,
  .inner_footer .footer_third{
      width: 100%;
      margin: 30px;
  }
}

.footer_third p{
  font-size: smaller;
}

.footer_third{
  position: relative;
  left: -100px;
  top: -30px;
}

.footer_third i{
  font-size: smaller;
}