input:required:valid
        {
            color: green;
        }
input:required:invalid
        {
            color:red;
            border-color: red;
        }
       
        .table 
        {
            border: 5px solid black;
            margin:6px auto;
            border-left: none;
            border-right: none;
        }
    
        td 
        {
            margin: 0px;
            padding: 5px;
            text-align: left;
            border: 0;
    
        }
        table
        {
            border: 3px solid rgb(16, 168, 143);
            margin:6px auto;
        
        }

        .form
        {
            border-color: white
        }
        
        .div
        {
        width: 300px;
        height: 100px;
        margin: auto;
        }
        .header{
            color: green;
            text-align: center;
            position: relative;
            top: -70px;
        }
        #logo{
            position: relative;
            top: 20px;
            left: -20px;
            width: auto;
            height: 100px;
        }
        
        .navbar-default{
            background-color: green;
        }
        
        #myNavbar a{
            color: black;
        }
        
        #ads{
            position: relative;
            top: 20px;
            left: 12px;
        }
        
        .panel{
            width: 232px;
            position: relative;
            top: 10px;
        }
        
        #center{
            text-align: center;
        }